.DS_Store
main.toc
main.synctex.gz
main.out
main.log
main.fls
main.fdb_latexmk
main.aux
seminars/sem1.aux
seminars/sem1.fdb_latexmk
seminars/sem1.fls
seminars/sem1.log
seminars/sem1.out
seminars/sem1.pdf
seminars/sem1.synctex.gz
main 2.synctex(busy)
discrete_mathematics.toc
discrete_mathematics.fdb_latexmk
discrete_mathematics.fls
discrete_mathematics.log
discrete_mathematics.out
discrete_mathematics.synctex.gz
discrete_mathematics.aux
